body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  margin-bottom: 10px;
}

a.linkOpt {
  cursor: pointer;
  margin-left: 2em;
}

.nav-wrapper {
  display: flex;
  align-items: flex-end;
}

.rowTable {
  cursor: pointer;
}

.rowTable:hover {
  background-color: #039be5 !important;
}

ul.tabs {
  display: flex;
  justify-content: flex-end;
}

.brand-logo {
  bottom: 2px;
}

#littleRow {
  margin-bottom: 4px;
}

.UserInfo {
  margin-top: 2em;
}

.box {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
